/* 
#F9FBE7
#F0EDD4
#ECCDB4
#FEA1A1 
*/
/* 
body {
    background-color: #f9fbe7;
    margin-top: 0;
    margin-right: 0s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #F0EDD4;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ppp {
    margin-right: 100px;
    margin-top: 200px;
    padding-bottom: 500px;


}

.header ul {
    display: block;
    display: flex;
    margin-top: 0px;
    padding-bottom: 650px;
    padding-left: 100px;
    top: 0px;
    color: #FEA1A1;
}

.header ul li {
    list-style: none;
    gap: 200px;
    width: 200px;

    height: 100px;

}

.header ul li a {
    text-decoration: none;
    color: hwb(0 46% 4%);
    border: #FEA1A1;
    font-style: italic;
    font-style: bold;
    font-size: xx-large;


}

.imag {
    height: 700px;
    width: 650px;
    position: static;
    margin-left: px;

}


.rawan {

    background-color: #FEA1A1;
    height: 706px;
    width: 788px;

    margin-left: 728px;
} */